body{
    margin:0px;
    background-color: black;
}
#remote-video {
    width:100vw;
    background-color: #eee;
    z-index: 0;
}
#car-images{
    position: relative;
}

div#top{
    position: absolute;
    background-color: #000000;
    width:100vw;
    height:5vw;
    left:0vw;
    top:0vw
}


.wiper-rotate {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}

.wiper{
    -moz-transition: -moz-transform 0.5s linear;
    -webkit-transition: -webkit-transform 0.5s linear;
    -o-transition: -o-transform 0.5s linear;
    -ms-transition: -ms-transform 0.5s linear;
    -webkit-transform-origin: right center;
    -moz-transform-origin: right center;
    -o-transform-origin: right center;
    -ms-transform-origin: right center;
}


#wiper-right{
    position: absolute;
    width:70vw;
    right: 0vw;
    top:-3vw;
    z-index: 1;
}

#wiper-left{
    position: absolute;
    width:70vw;
    left: 0vw;
    top:-3vw;
    z-index: 1;
}

#handle{
    position: absolute;
    width:50vw;
    left: 25vw;
    top:-5vw;
    z-index: 10;
    -moz-transition: -moz-transform 0.2s linear;
    -webkit-transition: -webkit-transform 0.2s linear;
    -o-transition: -o-transform 0.2s linear;
    -ms-transition: -ms-transform 0.2s linear;
}
#handle.DrivingForward,#handle.DrivingBackward,#handle.StopMoving{
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
}
#handle.RotatingRight{
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}
#handle.RotatingLeft{
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
}
#handle.DrivingDiagonallyForwardRight,#handle.DrivingDiagonallyBackwardRight{
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
#handle.DrivingDiagonallyForwardLeft,#handle.DrivingDiagonallyBackwardLeft{
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}
#dashboard{
    position: absolute;
    width:80vw;
    left: 10vw;
    top:-18vw;
    z-index: 2;
}
#string{
    position: absolute;
    width:40vw;
    left: 30vw;
    top:-15.5vw;
    z-index: 3;
    -moz-transition: -moz-transform 0.3s linear;
    -webkit-transition: -webkit-transform 0.3s linear;
    -o-transition: -o-transform 0.3s linear;
    -ms-transition: -ms-transform 0.3s linear;
}
#string.DrivingForward,#string.DrivingBackward{
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}
#string.RotatingRight,#string.RotatingLeft{
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
#string.StopMoving{
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);

}
#string.DrivingDiagonallyForwardRight,#string.DrivingDiagonallyBackwardRight,#string.DrivingDiagonallyForwardLeft,#string.DrivingDiagonallyBackwardLeft{
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}
#ios-string{
    position: absolute;
    width:16.8vw;
    left: 13.8vw;
    top:7.6vw;
    z-index: 3;
    -moz-transition: -moz-transform 0.3s linear;
    -webkit-transition: -webkit-transform 0.3s linear;
    -o-transition: -o-transform 0.3s linear;
    -ms-transition: -ms-transform 0.3s linear;
}

#vehicle-string{
    position: absolute;
    width:16.8vw;
    left: 69.8vw;
    top:7.6vw;
    z-index: 3;
    -moz-transition: -moz-transform 0.3s linear;
    -webkit-transition: -webkit-transform 0.3s linear;
    -o-transition: -o-transform 0.3s linear;
    -ms-transition: -ms-transform 0.3s linear;
}